/* *****************************
       اليسار left section
******************************** */

.hero {
  margin-top: 4rem;
  padding: 0rem 0.5rem;
}

.pec {
  width: 20%;
  border: 0.1rem solid rgb(143, 44, 8);
  border-radius: 30%;
  padding: 0.2rem;
  box-shadow: 2px 2px 40px rgba(151, 53, 150, 0.651);
}
.light .pec {
  box-shadow: 2px 2px 40px rgba(44, 130, 151, 0.651);
  border: 0.1rem solid rgb(8, 44, 143);
}

section.hero .icon-verified {
  color: var(--blue);
  margin-top: 2rem;
  margin-left: 0.7rem;
}

section.hero h1 {
  font-size: 3rem;
  line-height: 3.3rem;
  color: var(--title);
  margin-top: 1.4rem;
}
section.hero p {
  color: var(--subtitle);
  margin-top: 1rem;
  line-height: 1.65rem;
}

.All-icons {
  display: flex;
  gap: 20px;

  margin-left: 10px;
  margin-top: 20px;
}

.smooth-img {
  border-radius: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.smooth-img:hover {
  box-shadow: 0 10px 40px rgba(255, 255, 255, 0.2);
}

.All-icons a {
  font-size: 30px;
  color: #333;
  transition: all 0.3s ease;
}

.All-icons a:hover {
  color: #007bff;
  transform: translateY(-5px);
}

.All-icons a:active {
  transform: scale(0.95);
}

.left-section {
  flex-grow: 1;
}

/* *************************************
       اليمين Right section animation
*****************************************/
