/* main */
.All2.flex {
  gap: 2.54rem;
  align-items: start;
}

/* mainLeft */

main section.mainLeft {
  color: rgb(219, 219, 228);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 1rem;
}
.light .section.mainLeft h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 600;
}

main section.mainLeft button {
  background-color: rgba(36, 37, 46, 1);
  width: 10rem;
  text-align: center;
  padding: 0.75rem 0rem;
  text-transform: capitalize;
  font-size: 1rem;
  opacity: 0.5;
  transition: 0.3s;
}

main section.mainLeft button:hover {
  color: #9492be;
  font-size: 1.1rem;
  border-radius: 3rem;
  opacity: 1;
  cursor: pointer;
  border: 0.1rem solid rgb(97, 180, 252);

  border: 0.1rem solid rgb(14, 15, 78);
  opacity: 1;
}
.light .section.mainLeft button:hover {
  border: 0.1rem solid rgb(97, 180, 252);
  color: rgb(14, 15, 78);
}
/* ********section Right************** */

/* بعد الصوره محتواي الاول* */
.right-section.flex {
  display: flex;
  flex-grow: 1;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  min-width: 250px;
  max-width: 270px;
  min-height: 470px;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  transition: 0.3s;
  /* background-image: linear-gradient(red,blue); */
  /* background-image: linear-gradient(red, green); */
  background-image: linear-gradient(to right, #434343, #000000);
  border: 1px solid rgba(97, 180, 252, 0.3);
}

.light .card {
  border: 1px solid rgba(14, 15, 78, 0.3);
  background-image: linear-gradient(to right, #e0eafc, #cfdef3);
}
.card:hover {
  border: 1px solid var(--blue);
  rotate: 0.3deg;
  scale: 1.01;
  cursor: pointer;
}

a {
  text-decoration: none;
}
section .Box {
  padding: 1rem 0.4rem;
}

.card .Box .title {
  text-transform: capitalize;
  color: var(--title);
  font-size: 1.7rem;
  font-weight: 500;
}
.card .Box .sub-title {
  color: var(--subtitle);
  margin-top: 0.7rem;
  margin-bottom: 0.8rem;
  font-size: 0.7rem;
}

.card .Box .Icons {
  justify-content: space-between;
}
.card .Box .icon-github,
.icon-link {
  color: var(--subtitle);
  font-size: 1.2rem;
  opacity: 0.5;
}

.card .Box .icon-github:hover,
.icon-link:hover {
  opacity: 1;
  color: var(--icon-hover);
  cursor: pointer;
}

.card a.link {
  color: var(--blue);
  font-size: 0.9rem;
  margin-right: 12px;

  padding-left: 1.3rem;
  margin-left: 4.5rem;
}

.card a.link:hover {
  opacity: 1;
  color: var(--icon-hover);
  cursor: pointer;
}
.light .active {
  color: var(--title);
  border: 1px solid var(--blue);
  border-radius: 3px;
  background: 
    linear-gradient(
      145deg,
      #ffffff,
      #d1d9e6
    ); /* لون الخلفية في الوضع الفاتح */
}

/* بعد الصوره محتواي الاول* */

/* mainRight */
.mainRight {
  flex-grow: 1;
}

@media (max-width: 600px) {
  .All2.flex {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.64rem;
  }

  main section.mainLeft {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1rem;
  }
}
