@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7vpr7g');
  src:  url('fonts/icomoon.eot?7vpr7g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7vpr7g') format('truetype'),
    url('fonts/icomoon.woff?7vpr7g') format('woff'),
    url('fonts/icomoon.svg?7vpr7g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up-thick:before {
  content: "\e910";
}
.icon-adjust-brightness:before {
  content: "\e912";
}
.icon-weather-partly-sunny:before {
  content: "\e913";
}
.icon-weather-sunny:before {
  content: "\e911";
}
.icon-verified:before {
  content: "\e906";
}
.icon-arrow-left:before {
  content: "\e90e";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-arrow-up:before {
  content: "\e90f";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-moon:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90b";
}
.icon-mail-envelope-closed:before {
  content: "\e90a";
}
.icon-brightness-up:before {
  content: "\e903";
}
.icon-chevron-small-up:before {
  content: "\e90c";
}
.icon-cog:before {
  content: "\e90d";
}
.icon-cross:before {
  content: "\e900";
}
.icon-link:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-github:before {
  content: "\eab0";
}
