.koko{
   
    background: #232121b3;
    border-radius: 10px;
  margin:2px;
  
  border: 2px solid rgba(110, 104, 104, 0.459);
  padding: 2px;
}

.All-Me {
    
 

border-radius: 10px;
 border: 2px solid rgba(110, 104, 104, 0.459);





}




/* header */
.header {
  background: #7b8191d3;
  padding: 20px;
  margin-bottom: 30px;
  justify-content: space-between;
}


.ellipsis{
    display: flex;
    gap: 6px;
    align-items: center;
}

.ellipsis span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}


.ellipsis span:nth-child(1) {
  background-color: red;
}
.ellipsis span:nth-child(2) {
  background-color: rgb(182, 176, 12);
}
.ellipsis span:nth-child(3) {
  background-color: rgb(94, 255, 0);
}
.ellipsis span:nth-child(4) {
  background-color: rgb(255, 0, 225);
}




/* image section */
.img img {
  width: 255px;
  height: 299px;
  border-radius: 10px;
  margin-left: 20px;
}

/* right section */
.right {
  flex-grow: 1;
  margin-left:9rem;
 
}
.right h1
{
    margin-top: 2rem;
}
.right p{
    margin-top: 2rem;
}
.right  ul{
      margin-top: 2rem;
        margin-bottom: 4rem;
}
.right  ul li {
    padding:1rem;
    background: #98a2d7;
    color: #0e0d0d;
    border-radius:20px;
  
}


.right .back{
   display: flex;
    color: #64ea0a;
    padding-top: 2rem;
    padding-left: 9rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    text-align: center;
   

    
}


.right ul li {
  padding: 1rem 1.5rem;
  background: #98a2d7;
  color: #0e0d0d;
  border-radius: 20px;
  font-weight: 600;
  transition: 0.3s;
}

.right ul li:hover {
  background: #6574c4;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
}








@media (max-width:1541px) {
  main.flex  {
    flex-direction: column;
    align-items: center;
    text-align: center;
   
  }
  .mad{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }



  .img img {
    margin-left: 0;
  }

  .right {
    margin-left: 0;
  }

  .Languages {
    justify-content: center;
  }
}
@media (max-width:1142px) {
 .right .mad  {
    flex-direction:column;
    align-items: center;
    text-align: center;
    
  }
  .right .back{
    padding-left: 1rem;
  }
   
  


}
@media (max-width:1130px) {
    .mad .designing , .Languages , .back{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
     flex-wrap: wrap;
  }
   .back{
    
       align-items: center;
    text-align: center;
  }
}
@media (max-width:780px) {
    .back{
        margin-top:2rem;
    }
}
