html {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.4px;
  scroll-behavior: smooth;
  box-sizing: border-box;

  /* scrollbar-color: #9e4673 #3d4a59; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --primaryy: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(29, 29, 34, 0.4);
  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);
  --bgHeader: rgb(39, 39, 42);
  --Header: rgb(244 244 250);
  --blue: rgb(93 188 252);
  --padding-continer: (1.7rem);
  --icon-hover: #d4d4d8;
  --shadow: rgba(0, 0, 0, 0.5);
}
.light {
  --primaryy: #fff;
  --secondary: #f5f5f5;
  --border: rgba(0, 0, 0, 0.4);
  --title: #000;
  --subtitle: rgb(82, 82, 91);
  --bgHeader: rgb(228, 228, 231);
  --Header: rgb(39, 39, 42);
  --blue: rgb(37 99 235);
  --icon-hover: rgb(63, 63, 70);
  --shadow: rgba(255, 255, 255, 0.5);
} 

.divider {
  border-bottom: 1px solid var(--border);

  margin: 3rem 0rem;
}
.light .divider {
  border-bottom:none;
}
body {
  background-color: var(--primaryy);
  color: var(--title);
  transition: all 0.3s ease-in-out;
}

img {
  border-radius: 1rem;
}

::-webkit-scrollbar {
  width: 0.88rem;
}

::-webkit-scrollbar-track {
  border: 7px solid #4254ae;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #00000c;
}

::-webkit-scrollbar-thumb {
  background: repeating-linear-gradient(rgb(212, 91, 91), rgb(29, 29, 53));
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: repeating-linear-gradient(red, blue);
}

/* for Firefox */

.scroll2up {
  position: fixed;
  bottom: 3rem;
  display: flex;

  font-size: 1.2rem;

  color: var(--subtitle);
  border: 1.6px solid salmon;
  width: 1.7rem;
  height: 1.7rem;
  
  justify-content: center;
  align-items: center;
  background-color: #a69b9b4b;
  border-radius: 2rem;
  right: 3%;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.light .scroll2up {
 
  font-size: 1.2rem;

  color: var(--subtitle);
  border: 1.6px solid salmon;


  background-color: #420202e8;
 
}

.scroll2up:hover {
  color: var(--title);
  border: 1.7px solid rgb(244 166 96);
}

.light {
  --primary: #fff;
}
body {
  background-color: var(--primaryy);
}

.border {
  border: 2px solid red;
}

.active {
  color: var(--title);
  border: 1px solid var(--blue);
  border-radius: 3px;
  scale: 0.9;
}
button:disabled{
  opacity: 0.4 ;
  cursor: not-allowed;
}


.flex {
  display: flex;

  align-items: center;
}

.container {
  border: 2px solid var(--border);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
  flex-wrap: wrap;
  padding: 0rem var(--padding-continer);
}

ul {
  border-radius: 5rem;
  background-color: var(--bgHeader);
  padding: 0.77rem 2rem;
  gap: 1rem;
}

li {
  list-style: none;
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
    padding: 0 1.7rem;
  }
  .divider {
    width: calc(100% + var(--padding-continer) + var(--padding-continer));
    margin-left: calc(var(--padding-continer) * -1);
  }
}
@media (max-width: 600px) {
  .container {
    width: 98%;
    padding: 0 1.7rem;
  }
  .scroll2up {
    opacity: 0.2;
    width: 2rem;
    height: 2rem;
  }
}
